{% extends "layout.html" %}

{% block pesquisa %}

<div style="display: flex; align-items: center; border: blue; border-style:  solid">
    <form action="/produtos/salvar" method="post">
<div>
<div>

    <input type="hidden" name="id" value="{{ prd.id }}">
    <br/>
    Nome do Produto:
    <input type="text" name="nomeproduto" value="{{ prd.nome }}"/>
</div>
<div>
Preço
<input style="text-align: right" type="text" name="precos" value="{{ "{:,.2f}".format(prd.preco).replace(",", "X").replace(".", ",").replace("X", ".") }}">
</div>

<input type="submit" value="salvar" name="button"/>
</div>

<div>

</div>
</form>
</div>
{% endblock %}

