{% extends "layout.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}" xmlns="http://www.w3.org/1999/html">
{% block script %}
<script>
    function chamarNovo(){
       const  url = "{{ url_for("product_new") }}";
       window.location.href = url;
    }
    function mudaPagina(id){
       var page =  document.getElementById("page")
        page.setAttribute("value",id);
       document.forms[0].submit();
    }
</script>
{% endblock %}

<body>

 {% block pesquisa %}
<div style="display: flex; align-items: center; border: blue; ">

    <form action="{{ url_for("produto_lista") }}" method="post">
        {% if request.args.get('msg') %}
            <div class="alert alert-success" id="successAlert">
                {{ request.args.get('msg') | safe }}
            </div>
        {% endif %}

<div>
    <input  type="hidden" name="id">
<div>
    Nome do Produto:
    <input type="text" name="nomeproduto" value="{{ nome }}"/>
</div>

</div>

<input type="submit" value="pesquisar" name="button"/>
 <input type="button" value="Novo" name="button" onclick="chamarNovo()"/>
    <input type="hidden" name="page" id="page" value="{{ page }}">

</form>
</div>
 {% endblock %}
     <div class="table_component" role="region" tabindex="0">
         {% block resultado %}
    <table  style="border-style: solid; margin-top: 20px ">
        <thead >
        <tr>
            <th>Descricao</th>
            <th>Preço (R$) </th>
            <th>Excluir</th>
            <th>Editar</th>
        </tr>
        </thead>
        <tbody>
        {%  for produto in prd %}
        <tr>
            <td> {{produto.nome}} </td>
            <td style="text-align: right"> {{ "R$ {:,.2f}".format(produto.preco).replace(",", "X").replace(".", ",").replace("X", ".")  }} </td>
            <td> <a href="{{ url_for('produto_deletar', id=produto.id)  }}"> delete </a></td>
            <td>  <a href="{{ url_for('edit', id=produto.id)  }}"> edit </a> </td>
        </tr>
        {% endfor %}


        </tbody>
    </table>
    {%
            for x in range(1,nPages)
            %}
       <a href="#" onclick="mudaPagina({{ x }})">{{ x }}</a>
    {% endfor %}
         </table>

         {% endblock %}
</div>


